<% block_ids = item_grid_block_ids(block) %>
<% unless block_ids.blank? %>
  <% documents = get_solr_response_for_field_values("id", item_grid_block_ids(block)).last %>
  <div class="spotlight-flexbox">
    <% block_ids.each do |block_id| %>
      <% document = documents.find{|d| d[:id] == block_id} %>
      <% if document %>
        <div class="box" data-id="<%= document[:id] %>">
          <div class="contents">
            <% if has_thumbnail? document %>
              <div>
                <%= render_thumbnail_tag(document, {}, document_counter: -1) %>
              </div>
            <% end %>
            <% if block['item-grid-display-caption'] %>
              <div class="caption">
                <%= multi_up_item_grid_caption(block, document) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>