<div class="item-text">
  <div class="oembed-block <%= "pull-#{ block['text-align']}" if block["text"].present? %>">
    <% begin %>
      <%= OEmbed::Providers.get(block["url"]).html.html_safe %>
    <% rescue OEmbed::NotFound %>
      <%= link_to block["url"], block["url"] %>
    <% end %>
  </div>
  <%= sir_trevor_markdown block["text"] if block["text"].present?  %>
</div>
