<div class="content-block documents">
  <% response, document_list = get_search_widget_search_results(block) %>
  <%- unless document_list.present? %>
    <div class="alert alert-warning">
      <strong>No items to display.</strong> There are currently no items in this exhibit that match the curator's search criteria.
    </div>
  <%- else %>
      <% @response, @document_list = [response, document_list] %>
      <%= render 'sort_and_per_page', block: block %>
      <%= render_document_index %>
      <%= render 'results_pagination' %>
    </div>
  <%- end %>
</div>