---
---

$primary_brand_color: #6A9AD4 ;

/**
Showcase
*/


section.showcase .isotope-item {
  box-sizing: border-box;
  float: left;
  height: 360px;
  /* padding: 15px; */
  margin: 0 15px 15px 0;
  position: relative;
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section.showcase .isotope-item p {
  padding: 0 15px;
}

section.showcase .isotope-item img {
  width: 100%;
}

section.showcase iframe {
  width: 100%;
  height: 500px;
}

/* flip animation */
section.showcase .isotope-item {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.isotope-item:hover .flipper, .isotope-item.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.isotope-item .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.isotope-item .front,
.isotope-item .back {
  background-color: #eee;
  border: 1px solid #e6e6e6;
  height: 360px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);

  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);

  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);

  position: absolute;
  top: 0;
  left: 0;
}

.isotope-item .front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.isotope-item .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  padding: 0 15px;
}

.isotope-item .back .desc {
  font-size: 13px;
}

.isotope-item .back p {
  position: relative;
}

section.showcase a.button-primary-brand {
  font-size: 12px;
  margin: 10px 0;
  padding: 6px 12px;
  text-align: center;
}

section.showcase-item a.button-primary-brand {
  display: inline;
}

section.showcase {
    box-sizing: border-box;
    padding-left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

// Spotlight custom styles

body {
  background-color: #f3f6fa;
}
.main-blurb {
  margin-bottom: 0;
}

.main-highlight-blurbs {
  h1 {
    text-align: center;
  }

  .highlight {
    padding-top: 20px;
  }
}