<h2 class='contacts-header nav-heading h4'><%= t :'.header' %></h2>
<ol class="nav sidenav contacts flex-column">
  <% current_exhibit.contacts.published.each do |contact| %>
    <li itemscope itemtype="http://schema.org/Person">
      <%= render partial: "contact_properties", locals: {contact: contact} %>
    </li>
  <% end %>
</ol>
