<div id="sidebar" class="col-md-3" role="complementary">
  <h4><%= t :'.nav_link' %></h4>
  <ul class="nav sidenav">
    <% current_exhibit.about_pages.published.each do |page| %>
      <li class="<%= 'active' if current_page? page %>"><%= link_to_unless_current page.title, page %></li>
    <% end %>
  </ul>
</div>
