/.bundle
.byebug_history
capybara-*.html
config/initializers/secret_token.rb
/coverage/
/db/*.sqlite3
Gemfile.lock
.internal_test_app
/log/*
**.orig
pickle-email-*.html
pkg/
.project
/public/system/*
*.rbc
rerun.txt
.ruby-*
.ruby-version
.rvmrc
*.sassc
.sass-cache
_site/
/spec/examples.txt
spec/internal
/spec/tmp/*
/tmp/*
/vendor/bundle
