Spotlight.onLoad(function(){
  $('.zpr-link').on('click', function() {
    $('#ajax-modal .modal-content').html('<div id="osd-modal-container"></div>');
    var controls = [
      '<div class="controls">',
      '  <a id="osd-zoom-in"><%= Blacklight::Icon.new('add_circle').file_source %></a>',
      '  <a id="osd-zoom-out"><%= Blacklight::Icon.new('remove_circle').file_source %></a>',
      '  <a id="osd-home"><%= Blacklight::Icon.new('resize_small').file_source %></a>',
      '  <a id="osd-full-page"><%= Blacklight::Icon.new('custom_fullscreen').file_source %></a>',
      '</div>'
    ].join("\n");

    $('#osd-modal-container').append(controls);
    $('#osd-modal-container').append('<div id="osd-div"></div>');
    $('#osd-div').css('height', '400px');

    $('#ajax-modal').modal('show');

    OpenSeadragon({
      id: 'osd-div',
      zoomInButton:     "osd-zoom-in",
      zoomOutButton:    "osd-zoom-out",
      homeButton:       "osd-home",
      fullPageButton:   "osd-full-page",
      nextButton:       "osd-next",
      previousButton:   "osd-previous",
      tileSources: [$(this).data('iiif-tilesource')]
    })
  });
});
