<!DOCTYPE html>
<html>
<head>
  <title>Spotlight</title>
  <%= stylesheet_link_tag    "spotlight/application", media: "all" %>
  <%= javascript_include_tag "spotlight/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
