<nav class="container breadcrumbs-container" aria-label="<%= t('spotlight.breadcrumb.label') %>">
  <ol class="breadcrumb">
    <% breadcrumbs.each do |crumb| %>
    <li class="breadcrumb-item <%= crumb == breadcrumbs.last ? 'active' : '' %>">
      <% if crumb.link? && crumb != breadcrumbs.last %>
        <%= link_to crumb.name, path(crumb.path) %>
      <% else %>
        <%= crumb.name %>
      <% end %>
    </li>
    <% end %>
  </ol>
</nav>
