<div class="dropdown bulk-actions-dropdown">
  <%= button %>
  <div class="dropdown-menu" aria-labelledby="bulk-actions-button">
    <% bulk_actions.each do |key, _config| %>
      <%= link_to t("spotlight.bulk_actions.#{key}.heading"), '#', class: 'dropdown-item', data: { "bs-toggle": "modal", "bs-target": "##{key.to_s.dasherize}-modal" } %>
    <% end %>
  </div>
</div>
