<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_title { t('spotlight.pages.form.select_image') } %>
  <% component.with_body do %>
    <div class='p-3 m-2'>
      <input type="hidden" name="select_image_region">
      <p class="instructions"><%= help_text.html_safe %></p>
      <div class="mx-3" id="solr_document_widget_iiif_cropper" data-behavior="iiif-cropper" data-cropper-key="select_image_<%=@id%>" data-index-id="<%=@index_id%>" data-crop-width="120" data-crop-height="120">
    </div>
  <% end %>
   <% component.with_footer do %>
    <div> 
      <input type='button' class='btn btn-outline-primary' value='Cancel' data-bl-dismiss='modal'>
      <input id='saveimage' type='button' class='btn btn-primary' value='Save changes' data-bl-dismiss='modal'>  
    </div>
  <% end %>
<% end %>

