// Global accessibility overrides

// Increase visibility of Firefox focus indicator
@-moz-document url-prefix() {
  :focus {
    outline: $input-focus-border-color auto 5px;
  }
}

// CSS for accessibility dashboard
.alt-text-status .bi-exclamation-triangle-fill {
  fill: $warning;
}

.alt-text-status .bi-check-circle-fill {
  fill: $success;
}