.submit-search-text {
  @extend .sr-only;
}

.search-query-form {
  z-index: 1;

  .input-group {
    width: 100%;
  }

  .search_field {
    background: transparent;
    border: none;
    font-size: $font-size-sm;
  }
}
