.submit-search-text {
  @extend .sr-only !optional;
  @extend .visually-hidden !optional;
}

.search-query-form {
  z-index: 1;

  .input-group {
    width: 100%;
  }
  
  .search-btn {
    max-height: 2.375rem;
  }

  .search_field {
    background: transparent;
    border: none;
    font-size: $font-size-sm;
  }
}
