.dd-item td {
  &:first-child {
    padding: 0;
    
    .edit-in-place {
      cursor: text;
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      @include edit-in-place-highlighting;
    }

    // the effect of position: relative on table elements is undefined, so put a div in there.
    // this fix is for Firefox
    .handle-wrap {
      position: relative;
      padding: 8px 8px 8px 40px;
      margin: 0;
      margin-top: -1px;
      
    }

    .dd3-handle:before {
      top: 3px;
    }
  }

  &.checkbox-cell  {
    padding-top: 0;
    padding-bottom: 0;

    label {
      margin-left: $padding-base-horizontal;
      margin-right: $padding-base-horizontal;
      padding-left: 0px;
      padding-bottom: $table-cell-padding;
      padding-top: 1 + $table-cell-padding;
      display: block;
    }
    input {
      display: inline-block;
      float: none;
      margin: 0;
    }
  }
}

.dd-table {
  margin-top: 2 * $padding-large-vertical;

  th {
    &:first-child {
      padding-left: 40px;
    }
  }
}

#nested-fields {
  margin-bottom: 1em;

  .metadata-select {
    display: inline-block;
    min-width: 72px;
  }
}

.disabled-sort-option, .disabled-search-option {
  .panel {margin-bottom: 0;}
}

.sort_fields_admin, .search_fields_admin {
  .panel-title {
    display: inline;
  }
}
