$image-overlay-max-height: 300px;

.long-description-text {
  margin: ($spacer * 2) 0;
  width: 40em;
}

.very-long-description-text {
  width: auto;

  @media (min-width: breakpoint-min("md")) {
    column-gap: 3em;
    column-width: 20em;
  }
}

.blacklight-browse {
  .sort-pagination {
    .page-links {
      display: none;
    }

    .search-widgets {
      margin-left: auto;
    }
  }
}

.blacklight-browse-show {
  .subtitle {
    padding-right: $spacer;

    &::before {
      content: " \000B7 ";
      color: $text-muted;
      padding-right: $spacer * 0.5;
    }
  }
}

#main-container .browse-group-navigation.nav {
  margin-bottom: $spacer;

  .nav-link {
    margin-bottom: $spacer * 0.75;
  }
}

.browse-landing {
  text-align: center;

  .category {
    margin-bottom: $spacer;
  }

  .image-overlay {
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    max-height: 240px;
    min-height: 140px;
    overflow: hidden;
    position: relative;

    .img-responsive {
      width: 100%;
    }
  }

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(46, 45, 41, 0.7) 45%, rgba(46, 45, 41, 0) 100%);
    color: $white;
    padding: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;

    &:hover {
      background: linear-gradient(rgba(46, 45, 41, 0.8), 0%, rgba(46, 45, 41, 0.8) 100%); 
    }

    .browse-category-title {
      font-size: $h3-font-size;
      text-align: center;

      .category-subtitle {
        display: block;
      }

      small {
        display: block;
        color: $white;
        margin-top: $spacer;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (max-width: breakpoint-max("sm")) {
    $image-overlay-max-height: 240px;
    .image-overlay {
      margin: 10px auto;
      max-height: $image-overlay-max-height;
      max-width: 350px;
    }
    .text-overlay .browse-category-title {
      font-size: $h3-font-size;
    }
  }
  @media screen and (min-width: breakpoint-min("sm")) and (max-width: breakpoint-max("md")) {
    $image-overlay-max-height: 240px;
    .image-overlay {
      max-height: $image-overlay-max-height;
    }
  }
  @media screen and (min-width: breakpoint-min("md")) and (max-width: breakpoint-max("lg")) {
    $image-overlay-max-height: 250px;
    .text-overlay .browse-category-title {
      font-size: $h4-font-size;
    }
    .image-overlay {
      max-height: $image-overlay-max-height;
    }
  }
  @media screen and (min-width: breakpoint-min("lg")) {
    .image-overlay {
      max-height: $image-overlay-max-height;
    }
  }
}

.search-box-container {
  margin: 0 auto;
  width: 100%;

  .col-form-label {
    text-align: right;
  }

  .browse-search-form {
    .btn-reset {
      background-color: transparent;
      display: none;
      margin-left: -42px;
      left: -40px;
      z-index: 20;
    }

    .search-btn {
      left: -40px;
      z-index: 30;
    }
  }

  .browse-search-expand {
    text-align: center;
  }
}
