.long-description-text {
  margin: 2rem 0;
  width: 40em;
}

.very-long-description-text {
  width: auto;

  @media (min-width: 768px) {
    column-gap: 3em;
    column-width: 20em;
  }
}

.blacklight-browse {
  .sort-pagination {
    .page-links {
      display: none;
    }

    .search-widgets {
      margin-left: auto;
    }
  }
}

.blacklight-browse-show {
  .subtitle {
    padding-right: 1rem;

    &::before {
      content: " \000B7 ";
      color: var(--bs-secondary-color);
      padding-right: 0.5rem;
    }
  }
}

#main-container .browse-group-navigation.nav {
  margin-bottom: 1rem;

  .nav-link {
    margin-bottom: 0.75rem;
  }
}

.browse-landing {
  text-align: center;

  .category {
    margin-bottom: 1rem;
  }

  .image-overlay {
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    max-height: var(--spotlight-image-overlay-max-height);
    min-height: 140px;
    overflow: hidden;
    position: relative;

    .img-responsive {
      width: 100%;
    }
  }

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(46, 45, 41, 0.7) 45%, rgba(46, 45, 41, 0) 100%);
    color: var(--bs-white);
    padding: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;

    &:hover {
      background: linear-gradient(rgba(46, 45, 41, 0.8), 0%, rgba(46, 45, 41, 0.8) 100%); 
    }

    .browse-category-title {
      font-size: calc(var(--bs-body-font-size) * 1.75);
      text-align: center;

      .category-subtitle {
        display: block;
      }

      small {
        display: block;
        color: var(--bs-white);
        margin-top: 1rem;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (max-width: 575.98px) {
    .image-overlay {
      --spotlight-image-overlay-max-height: 240px;
      margin: 10px auto;
      max-width: 350px;
    }
    .text-overlay .browse-category-title {
      font-size: calc(var(--bs-body-font-size) * 1.75);
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    .image-overlay {
      --spotlight-image-overlay-max-height: 240px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    .image-overlay {
      --spotlight-image-overlay-max-height: 250px;
    }

    .text-overlay .browse-category-title {
      font-size: calc(var(--bs-body-font-size) * 1.5);
    }
  }
}

.search-box-container {
  margin: 0 auto;
  width: 100%;

  .col-form-label {
    text-align: end;
  }

  .browse-search-form {
    .btn-reset {
      background-color: transparent;
      display: none;
      margin-inline-start: -42px;
      inset-inline-start: -40px;
      z-index: 20;
    }

    .search-btn {
      inset-inline-start: -40px;
      z-index: 30;
    }
  }
}
