$image-overlay-max-height: 300px;

.long-description-text {
  margin: ($padding-base-vertical * 2) 0;
  width: 40em;
}

.very-long-description-text {
  width: auto;

  @media (min-width: breakpoint-min("md")) {
    column-gap: 3em;
    column-width: 20em;
  }
}

.blacklight-browse {
  .sort-pagination {
    .page-links {
      display: none;
    }

    .search-widgets {
      margin-left: auto;
    }
  }
}

.browse-landing {
  text-align: center;
  // Placeholder for vertically alignment - might already be available from use in another feature
  %vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .category {
    margin-bottom: $spacer * 2;
  }

  .image-overlay {
    border: 2px solid $gray-600;
    border-radius: $border-radius-lg;
    max-height: 240px;
    min-height: 140px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
    }
  }

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    color: $white;
    padding: 8%;
    text-align: center;
    text-shadow: 0 1px 0 $black;
    // prevents potential blur caused by the vertical-align technique
    transform-style: preserve-3d;

    .browse-category-title {
      font-size: $h3-font-size;
      @extend %vertical-align;

      small {
        display: block;
        color: $white;
        margin-top: $padding-large-vertical;
        text-transform: uppercase;
      }
    }

    &:hover {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    }
  }

  @media screen and (max-width: breakpoint-max("sm")) {
    $image-overlay-max-height: 180px;
    .category {
      margin: 10px auto;
    }

    .image-overlay {
      max-height: $image-overlay-max-height;
      max-width: 350px;
    }
    .text-overlay .browse-category-title {font-size: $h3-font-size;}
  }
  @media screen and (min-width: breakpoint-min("sm")) and (max-width: breakpoint-max("md")) {
    $image-overlay-max-height: 180px;
    .image-overlay {max-height: $image-overlay-max-height;}
  }
  @media screen and (min-width: breakpoint-min("md")) and (max-width: breakpoint-max("lg")) {
    $image-overlay-max-height: 250px;
    .text-overlay .browse-category-title {font-size: $h4-font-size;}
    .image-overlay {max-height: $image-overlay-max-height;}
  }
  @media screen and (min-width: breakpoint-min("lg")) {
    .image-overlay {max-height: $image-overlay-max-height;}
  }
}

.search-box-container {
  margin: 0 auto;
  width: 100%;

  .col-form-label {
    text-align: right;
  }

  .browse-search-form {
    .btn-reset {
      background-color: transparent;
      display: none;
      left: -40px;
      z-index: 20;
    }

    .search-btn {
      left: -40px;
      z-index: 30;
    }
  }

  .browse-search-expand {
    text-align: center;
  }
}
