#documents.table {
  .documentHeader {

  }

  .checkbox-toggle {
    text-align: center;
    form {
      display: inline-block;
    }
  }

  .row {
    margin: 0;
  }

  .index-document-functions { 
    display: none;
  }

  .document-thumbnail {
    @extend .thumbnail;

    img { 
      max-width: 60px !important;
    }
  }

}

#document {
  ul.tags li {
    @extend .label;
    @extend .label-default;
  }

  .openseadragon-image {
    border: 1px solid $gray;
    height: 440px;
  }
}

form.edit_solr_document {
  .bootstrap-tagsinput {
    display: block;
  }
}

.bootstrap-tagsinput {
  .twitter-typeahead {
    width: auto;
  }

  .tt-input {
    vertical-align: baseline !important;
  }
}

.blacklight-catalog-edit, .blacklight-catalog-show {
  .thumbnail {
    @extend .col-md-6;
  }

  .edit_solr_document {
    float: right;
    @extend .col-md-6;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .tags, .dl-horizontal {
    @extend .col-md-6;
  }

  #document {
    @extend .clearfix;
    @extend .row;
  }
}

.edit_solr_document {
  @extend .clearfix;
}
