#documents.table {
  .documentHeader {

  }

  .checkbox-toggle {
    text-align: center;
    form {
      display: inline-block;
    }
  }

  .row {
    margin: 0;
  }

  .index-document-functions {
    display: none;
  }

  .document-thumbnail {
    @extend .thumbnail;

    img {
      max-width: 60px !important;
    }
  }

}

#document {
  ul.tags {
    text-align: center;
    li {
      @extend .label;
      @extend .label-default;
      a {
        color: #fff;
      }
    }
  }

  .osd-toolbar {
    padding: 5px 0;

    a {
      cursor: pointer;
      margin: 0 5px;
    }

    .pagination {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .controls {
      float: right;
      padding: 0;
      text-align: right;
    }
  }

  .osd-image {
    // background-color: whitesmoke;
    border: 1px solid #ccc;
    height: 400px;

    .openseadragon-canvas {
      // border: 1px solid #ccc;
    }
  }
}

form.edit_solr_document {
  .bootstrap-tagsinput {
    display: block;
  }
}

.bootstrap-tagsinput {
  .twitter-typeahead {
    width: auto;
  }

  .tt-input {
    vertical-align: baseline !important;
  }
}

.blacklight-catalog-edit, .blacklight-catalog-show {
  .thumbnail {
    @extend .col-md-6;
  }

  .edit_solr_document {
    float: right;
    @extend .col-md-6;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .tags, .dl-horizontal {
    @extend .col-md-6;
  }

  #document {
    @extend .clearfix;
    @extend .row;
  }
}

.edit_solr_document {
  @extend .clearfix;
}
