#documents.table {
  font-size: $font-size-base;

  .thumbnail-column {
    box-sizing: content-box;
    min-width: 60px;
  }

  .document-thumbnail {
    border: none;
    margin-bottom: 0;
    padding: 0;
  }

  .document-thumbnail img {
    border: 1px solid $gray-600;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .document-counter {
    display: none;
  }

  .index_title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .checkbox.toggle_visibility {
    padding-top: 0;
  }
}

#documents.documents-list {
  .document-thumbnail img {
    max-width: 100px;
  }
}

#document {
  ul.tags {
    text-align: center;
    li {
      @extend .badge;
      @extend .bg-secondary;
      a {
        color: #fff;
      }
    }
  }
}

.document,
tr.doc-row,
li.dd-item,
.autocomplete-item {
  &.blacklight-private {
    .index_title,
    h1,
    .card-title,
    .autocomplete-title {
      @include private-label;
    }
  }
}

// Don't show the private label until Blacklight reports success
tr.doc-row:has(input.toggle-visibility:disabled:not(:checked)) {
  .index_title::after {
    display: none;
  }
}

.blacklight-catalog-admin {
  .add-items-nav {
    margin-bottom: $spacer;
  }

  .sort-pagination {
    border-bottom: 0;
  }
}

form.edit_solr_document {
  .bootstrap-tagsinput {
    @extend .clearfix;
    cursor: text;
  }
  .bg-warning.form-text {
    font-size: 0.9em;
    padding: 3px 6px;
  }
}

.bootstrap-tagsinput {
  display: block;
  .twitter-typeahead {
    width: auto;
  }

  .tt-input {
    vertical-align: baseline !important;
  }
}

.blacklight-catalog-edit,
.blacklight-catalog-show {
  .img-thumbnail {
    @extend .col-md-6;
  }

  .tags,
  .dl-horizontal {
    @extend .col-md-6;
  }

  #document {
    @extend .clearfix;
  }
}

#sortAndPerPage {
  align-items: flex-end;
}

.search-widgets {
  align-items: flex-start;
  display: flex;
  @media (min-width: breakpoint-min("md")) {
    justify-content: flex-end;
  }
  flex-wrap: wrap;
  width: 60%;
  margin-left: -1 * $spacer * 0.1;

  .btn,
  .btn-group {
    margin-left: $spacer * 0.1;
    margin-top: $spacer * 0.25;
  }
}

.curator-actions {
  align-items: flex-start;
  display: flex;
  @media (min-width: breakpoint-min("md")) {
    justify-content: flex-end;
  }
  order: -1;
  width: 100%;
  margin-left: -1 * $spacer * 0.1;
}

#document,
.document {
  .blacklight-exhibit_tags a {
    @extend .badge;
    @extend .bg-secondary;

    &:not(:last-child) {
      @extend .me-2;
    }
  }
}

.visibility-toggle {
  .no-js & {
    input[type="submit"] {
      display: inline;
    }

    div.toggle-visibility {
      display: none;
    }
  }

  input[type="submit"] {
    display: none;
  }
}
