// Rotate collapse-chevron element (has a ❯ in it)
// with the previous siblings collapsed status
.btn.collapse-toggle {
  & + .collapse-chevron {
    display: inline-block;
    text-align: end;
    transform: rotate(90deg);
    width: 16px;
  }
  &.collapsed + .collapse-chevron {
    text-align: start;
    transform: none;
  }
}
