.btn.collapse-toggle {
  // adjust as needed, taken from bootstrap.css glyphicons
  &:after {
    // symbol for "opening" panels
    color: $text-muted;
    content: "\e114"; // chevron down
    float: right;
    font-family: "Glyphicons Halflings";
    font-size: 0.8em;
    line-height: 2em;
    padding-left: 1ch;
  }

  &.collapsed:after {
    // symbol for "collapsed" panels
    content: "\e080"; //chevron right
  }
}
