@mixin jcrop-loading-background {
  background-image: image-url('Jcrop.gif');
  background-color: transparent !important;
}
.croppable-loading-area {
  min-height: 100px;
}

.loading-jcrop {
  @include jcrop-loading-background;
  .jcrop-tracker {
    @include jcrop-loading-background;
  }
}

