.page-links a {
  padding-left: 0;
  padding-right: 0;
  line-height: $btn-line-height;
  @include font-size($btn-font-size);
}

.missing-description {
  font-style: italic;
}
.expanded-add-button {
  display: inline-block;
  .input-field {
    input[type='text'] {
      @extend .form-control-sm;
      height: auto;
      padding: 0 5px;
      width: 195px;
      color: black;
      border-color: white;
    }
    input[type='submit'] {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-sm;
    }
    display: none;
  }
  [data-expanded-add-button] {
    text-align: left;
  }
}


.card-header {
  .pic {
    width: 70px;
    display: inline-block;
    margin-bottom: 0;
  }

  .form-check-inline {
    margin-top: -3px;
    vertical-align: middle;
  }

  .main {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .btn-link.collapse-toggle {
    // removing padding and margins to style this button as a simple link
    // with the expected vertical alignment with the rest of the header.
    margin: 0;
    padding: 0;
  }
}

[data-in-place-edit-target]:hover:after {
  content: "\270f";
  line-height: 1;
  margin-left: 6px;
  display: inline-block;
  color: #777;
}
[data-in-place-edit-target].hide-edit-icon:after {
  display: none;
}

.home_page .card {
  .card-body {
    @extend .py-2;
    @extend .px-3;
  }

  .card-title {
    @extend .mb-0;
    @extend .py-2;
  }
}

.contacts_admin .card-header.page .main {
  width: 95%;
}

.card-header.item-grid {
  &:hover {
    @include panel-hover-highlighting;
  }
  .main {
    width: 65%;
    vertical-align: top;
    display: inline-block;
    margin-left: $spacer;
  }
  .remove {
    width: 10%;
    vertical-align: top;
    display: inline-block;
    margin-left: $spacer;
  }
}

.search_admin {
  .pic {
    flex-basis: 70px;
  }

  .main {
    flex-basis: 40%;
  }

  .description {
    flex-basis: 30%;
  }
}

#edit-search {
  #preview {
    height: 60px;
    width: 60px;
  }
}

h1,h2,h3,h4,h5,h6 {
  & + .instructions {
    border-top: 1px solid lightgray;
    padding-top: 5px;
  }
}

.label.curation-widget {
  display: inline-block;
  margin-top: 1em;
  padding: 0.7em 1em;
  a {
    color: white;
    text-decoration: underline;
  }
}

#content-header {
  height: auto;
  min-height: 0;
}

.spotlight-admin-thumbnail {
  position: relative;
  .badge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.facet-metadata {
  @extend .text-muted;
  font-size: $font-size-base;
  text-align: right;
}

table#exhibit-specific-fields {
  margin-top: 1em;
  .field-label {
    min-width: 10em;
    font-size: $h4-font-size;
  }
  .field-description {
    font-size: $font-size-base;
    vertical-align: middle;
  }
  .actions a {
    padding: 0 2px;
  }
}

#nested-navigation {
  margin-bottom: 2 * $spacer;
}

table.users {
  td:nth-child(3), th:nth-child(3) {
    text-align: center;
  }
}

table.tags {
  td:nth-child(2), th:nth-child(2) {
    text-align: right;
  }
  td:nth-child(3), th:nth-child(3) {
    text-align: center;
  }
}

.card-title .subtitle::before {
  content: " \000B7 ";
  color: $text-muted;
  padding-right: 3px;
}
