/*override blacklight default*/
#sortAndPerPage {
  border-bottom: 0;
}

.missing-description {
  font-style: italic;
}

.panel-heading.page {
  .checkbox {
    width: 3%;
    vertical-align: top;
    display: inline-block;
  }
  .main {
    width: 80%;
    vertical-align: top;
    display: inline-block;
  }
}

.panel-heading.search {
  /* widths don't add up to 100% because of padding of the container. */
  .checkbox {
    width: 3%;
    vertical-align: top;
    display: inline-block;
  }
  .pic {
    width: 70px;
    display: inline-block;
    margin-bottom: 0;
  }
  .main {
    width: 40%;
    vertical-align: top;
    display: inline-block;
  }
  .description {
    width: 30%;
    vertical-align: top;
    display: inline-block;
  }
}

#edit-search {
  .input-group-addon {
    background: none;
    border: none;
  }
  #preview {
    height: 60px;
    width: 60px;
  }
}

h1,h2,h3,h4,h5,h6 {
  & + .instructions {
    border-top: 1px solid lightgray;
    padding-top: 5px;
  }
}
 
.label.curation-widget {
  display: inline-block;
  margin-top: 1em;
  padding: 0.7em 1em;
  a {
    color: white;
    text-decoration: underline;
  }
}

#content-header {
  height: auto;
  min-height: 0;
}
.spotlight-admin-thumbnail {
  position: relative;
  .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}