.edit-in-place {
  cursor: text;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
    background: var(--spotlight-edit-in-place-highlighting-background);
    cursor: text;
  }
}
