.exhibit-admin {
  .contact {
    margin-bottom: 0.5em;
  }

  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;

    &.not-validated {
      margin-top: 0;
    }

    .confirmed {
      @extend .text-success;
      white-space: nowrap;
    }
    .unconfirmed {
      @extend .text-danger;
    }

    a {
      white-space: nowrap;
    }
  }
}

#edit-search {
  .remove {
    display: none;
  }

  .constraint-value {
     @include border-right-radius($border-radius-sm);
  }

  .form-control-plaintext { display: none; }
}

.analytics {
  text-align: center;

  & > tfoot > tr > th {
    padding-top: 0;
    border-top: 0;
    text-align: center;
  }

  th, td {
    &:first-child {
      border-left: 0;
    }

    border-left: 1px solid $table-border-color;
  }

  border-bottom: 1px solid $table-border-color;
}

.pending-label {
  display: none;
}

.invite-pending {
  .pending-label {
    display: inline;
  }
}
