.exhibit-admin {
  .contact {
    margin-bottom: 0.5em;
  }

  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;

    &.not-validated {
      margin-top: 0;
    }

    .confirmed {
      @extend .text-success;
      white-space: nowrap;
    }
    .unconfirmed {
      @extend .text-danger;
    }

    a {
      white-space: nowrap;
    }
  }
}

#edit-search {
  .remove {
    display: none;
  }

  .constraint-value {
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }

  .form-control-plaintext {
    display: none;
  }
}

.analytics {
  border-bottom: 1px solid $table-border-color;
  table-layout: fixed;
  text-align: center;

  & > tfoot > tr > th {
    padding-top: 0;
    border-top: 0;
    text-align: center;
  }

  th,
  td {
    &:first-child {
      border-left: 0;
    }

    border-left: 1px solid $table-border-color;
  }
}

.pending-label {
  display: none;
}

.invite-pending {
  .pending-label {
    display: inline;
  }
}

.download-csv {
  align-items: flex-end;
  display: flex;

  .btn-primary {
    margin-bottom: $spacer;
  }
}

// In various admin views we use leaflet maps and autocomplete. They both set
// the same z-index value, so we need to override the leaflet z-index to make
// sure the leaflet controls don't appear over the autocomplete dropdown.
.leaflet-top, .leaflet-bottom {
  z-index: 950;
}
