.exhibit-admin {
  .contact {
    margin-bottom: 0.5em;
  }

  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    
    &.not-validated {
      margin-top: 0;
    }
    
    .confirmed {
      @extend .text-success;
      white-space: nowrap;
    }
    .unconfirmed {
      @extend .text-danger;
    }

    a {
      white-space: nowrap;
    }
  }
}
