.exhibit-card {
  box-sizing: border-box;
  height: $exhibit-card-height;
  margin-bottom: 2rem;
  //               image width        +       gutter         + border (x2)
  max-width: $exhibit-card-image-size + $exhibit-card-gutter + 2px;
  padding-right: ($exhibit-card-gutter / 2) !important;
  perspective: 1000; // for flip animation
  position: relative;

  .flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
  }

  &.hover .flipper,
  &:hover .flipper {
    -ms-filter: "FlipH"; // autoprefixer doesn't handle this case.
    filter: FlipH;
    transform: rotateY(180deg);
  }
}

.card-face {
  backface-visibility: hidden;
  background-color: $exhibit-card-bg;
  border: 1px solid $exhibit-card-border;
  height: $exhibit-card-height;
  left: 0;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  transition: 0.6s;
  width: 100%;
}

.exhibit-card-title {
  @extend .h5;
  @extend .text-center;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;

  .unpublished {
    @extend .mx-auto;
    display: block;
    font-size: $font-size-base;
    margin-top: -1em;
    position: relative;
    width: 15ch;
  }
}

.card-back {
  box-shadow: $exhibit-card-shadow;
  transform: rotateY(-180deg);

  .card-title {
    border-bottom: 1px dotted $exhibit-card-border;
    padding-bottom: $padding-base-vertical;
  }

  .subtitle {
    @extend .h5;
    @extend .text-center;
    font-size: 0.875rem;
    line-height: $headings-line-height;
  }

  .description {
    font-size: 0.75rem;
  }

  .visit-exhibit {
    bottom: 1rem;
    position: absolute;
  }
}

// between the small and medium breakpoints, reduce the size of the image by a little bit
@media (min-width: breakpoint-min("sm")) and (max-width: breakpoint-max("lg")) {

  // calculate the size of one full grid column
  $reduce-exhibit-card-image-size: (((map-get($container-max-widths, "md") - $grid-gutter-width) / $grid-columns) - ($grid-gutter-width / 2));

  .exhibit-card,
  .card-face {
    height: $exhibit-card-height - $reduce-exhibit-card-image-size;
  }

  // Cannot extend .btn-sm within a @media query
  .center-btn .btn {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }
}

.center-btn {
  left: 50%;
  position: absolute;

  .btn {
    left: -50%;
    position: relative;
  }
}
