.exhibit-admin {
  .contact {
    margin-bottom: 0.5em;
  }

  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;

    &.not-validated {
      margin-top: 0;
    }

    .confirmed {
      @extend .text-success;
      white-space: nowrap;
    }
    .unconfirmed {
      @extend .text-danger;
    }

    a {
      white-space: nowrap;
    }
  }

  .callout {
    margin: 40px 0;
    padding: 2 * $padding-large-vertical;
    border-left: 3px solid $gray-lighter;
    > p {
      padding-left: 0;
    }
    h4 {
      margin-top: 0;
      margin-bottom: $padding-base-vertical;
    }
  }
  .callout-danger {
    background-color: lighten($brand-danger, 40%);
    border-color: $brand-danger;
    h4 {
      color: $brand-danger;
    }
    a:hover, a:focus {
      color: $btn-danger-color;
      background-color: $btn-danger-bg;
      border-color: $btn-danger-border;
    }
  }
}

#edit-search {
  .remove {
    display: none;
  }

  .constraint-value {
     @include border-right-radius($border-radius-small);
  }

  .form-control-static { display: none; }
}

.analytics {
  text-align: center;

  & > tfoot > tr > th {
    padding-top: 0;
    border-top: 0;
    text-align: center;
  }

  th, td {
    &:first-child {
      border-left: 0;
    }

    border-left: 1px solid $table-border-color;
  }

  border-bottom: 1px solid $table-border-color;
}

.pending-label {
  display: none;
}

.invite-pending {
  .pending-label {
    display: inline;
  }
}
