.exhibit-admin {
  .contact {
    margin-bottom: 0.5em;
  }

  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    
    &.not-validated {
      margin-top: 0;
    }
    
    .confirmed {
      @extend .text-success;
      white-space: nowrap;
    }
    .unconfirmed {
      @extend .text-danger;
    }

    a {
      white-space: nowrap;
    }
  }

  .callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
    h4 {
      color: #d9534f;
    }
  }
}
