$exhibit-card-overlay-padding: $card-img-overlay-padding / 2 !default;
$exhibit-card-overlay-opacity: 0.85 !default;
$exhibit-card-bg: $card-bg !default;
$exhibit-card-max-height: 255px !default;

.exhibit-card {
  background: $exhibit-card-bg;
  overflow-y: hidden;
  padding-bottom: 3rem;

  .unpublished {
    @extend .mx-auto;
    display: block;
    font-size: $font-size-sm;
    margin-top: -1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    width: 15ch;
  }

  .card-title {
    flex: 1;
  }

  .card-title .stretched-link {
    outline: none;
  }

  .card-img {
    margin-top: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-img-overlay {
    background: rgba($exhibit-card-bg, $exhibit-card-overlay-opacity);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
    display: flex;
    flex-direction: column;
    padding: $exhibit-card-overlay-padding;
    top: inherit;
    max-height: 100%;
  }

  .exhibit-description {
    display: flex;
    flex-direction: column;
    max-height: 0;
    outline: none;
    overflow-y: hidden;
    transition: $transition-base;
  }

  .subtitle {
    text-align: center;
  }

  .description {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: $font-size-sm;
    overflow-y: hidden;
  }

  &:hover {
    .exhibit-description {
      max-height: $exhibit-card-max-height;
    }
  }

  &:focus-within {
    // Use Bootstrap focus style
    outline: $input-focus-border-color auto 5px;

    // Use WebKit focus styles if available
    @supports (-webkit-appearance:none) {
      outline-color: -webkit-focus-ring-color;
    }

    .exhibit-description {
      max-height: $exhibit-card-max-height;
    }
  }
}
