.exhibit-admin {
  input.exhibit-contact {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  #another-email {
    cursor: hand;
  }
  .confirmation-status {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    .confirmed {
      color: green;
    }
    .unconfirmed {
      color: red;
    }
  }
}
