.site-footer {
  background-color: $gray-700;
  color: $gray-600;
  margin-top: $footer-top-margin;
  padding: 10px;

  // Styles below keep footer at bottom of viewport
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}
