#exhibit-masthead, #exhibit-navbar {
  z-index: 1;
}

.navbar + .navbar {
  margin-top: 0;
}

#header-navbar {
  margin-bottom: 0;
}

#exhibit-masthead {
  margin-bottom: 0;
  padding: 24px 0;
  .site-title {
    font-size: 30px;
  }

  small {
    display: block;
  }
}

.col-md-4 {
  .submit-search-text {
    // hide 'search' label 
      // copied from .sr-only, sadly can't seem to use @extend in a media
      // query like this, have to copy. 
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
  }
  .glyphicon-search {
    line-height: $line-height-computed;
  }
}
