#exhibit-masthead, #exhibit-navbar {
  margin-top: -30px;
  z-index: 1;
}

#exhibit-masthead {
padding: 24px 0;
  h1, .h1 {
    font-size: 30px;
  }

  small {
    display: block;
  }
}

#content-header {
  .breadcrumb {
    padding: 8px 0;
    background: none;
    margin-bottom: 0;
  }
}
