@mixin panel-hover-highlighting() {
  background: $gray-300;
}

@mixin private-label() {
  &:after {
    @extend .badge;
    @extend .bg-warning;
    content: "Private";
    margin-left: 3px;
    color: black;
  }
}
