@mixin link-highlighting() {
  // background-color: $nav-link-hover-bg;
  text-decoration: none;
}

@mixin edit-in-place-highlighting() {
  background: #F7F7D0;
  cursor: text;
}

@mixin panel-hover-highlighting() {
  background-color: $gray-300;
}

@mixin private-label() {
  &:after {
    @extend .badge;
    @extend .badge-warning;
    content: 'Private';
    margin-left: 3px;
  }
}
