@mixin edit-in-place-highlighting() {
  background: #F7F7D0;
  cursor: text;
}

@mixin panel-hover-highlighting() {
  background: $gray-300;
}

@mixin private-label() {
  &:after {
    @extend .badge;
    @extend .badge-warning !optional;
    @extend .bg-warning !optional;
    content: 'Private';
    margin-left: 3px;
  }
}
