.thumbs-list {
  overflow-x: scroll;
  height: 150px;
  padding-bottom: 10px;
  position: relative;
  ul {
    background: white;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    li {
      flex: 0 0 auto;
      min-width: 60px;
      padding: $padding-base-vertical $padding-base-horizontal;
      &.active {
        background-color: #999999;
      }
    }
  }
}
