.spotlight-flexbox {
  display: flex;
  flex-flow: row wrap;

  .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;

    @media (max-width: 575.98px) {
      min-width: 200px;
      flex: 1 1 200px;
    }

    .caption {
      margin-top: 5px;
      font-style: italic;
    }
    img {
      max-width: 100%;
    }
    flex: 1;
  }
}
