.item-grid-admin {
  .field {
    input[type="text"] {
      width: 89%;
    }

    .twitter-typeahead {
      margin-bottom: 2 * $spacer;
    }
  }
  .field-select {
    margin-top: 2 * $spacer;
    select {
      display: inline;
      width: auto;
    }
  }
  .dd3-item {
    margin-bottom: 2 * $spacer;
  }
}
// Hide the secondary caption field
// for the Features block so we can
// re-use the rest from the generic
// multi-up item grid.
[data-type="item-features"] {
  .secondary-caption {
    display: none;
  }
}
.spotlight-flexbox {
  display: flex;
  flex-flow: row wrap;

  .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;

    @media (max-width: breakpoint-max("sm")) {
      min-width: 200px;
      flex: 1 1 200px;
    }

    .caption {
      margin-top: 5px;
      font-style: italic;
    }
    img {
      max-width: 100%;
    }
    flex: 1;
  }
}
