.spotlight-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;

  .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;

    @media (max-width: breakpoint-max("sm")) {
      min-width: 200px;
      -webkit-flex: 1 1 200px;
    }

    .caption {
      margin-top: 5px;
      font-style: italic;
    }
    img {
      max-width: 100%;
    }
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1 1 125px;
  }
}
