.item-grid-admin {
  .field {
    input[type='text'] {
      margin-left: 10px;
      margin-bottom: 10px;
      width: 89%;
    }
    .twitter-typeahead {
      display: inline !important;
    }
  }
  .field-select {
    margin-top: 15px;
    select {
      display: block;
      width: 90%;
    }
  }
}

.spotlight-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;

  .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;

    @media (max-width: $screen-xs-max) {
      min-width: 200px;
    }

    .caption {
      margin-top: 5px;
      font-style: italic;
    }
    img {
      max-width: 100%;
    }
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}