/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.blacklight-home_pages-show .edit-button {
  margin-bottom: 2em;
}

.form-actions {
  @extend .clearfix;
}

.primary-actions {
  @extend .float-end;
}

#nested-pages {
  margin-bottom: 1em;
}

.st-title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: theme-colors("secondary");
  padding: 3px 8px;
  color: $body-color;
  font-weight: bold;
}

.st-block__inner {
  div.field + div.field {
    margin-top: 2 * $spacer;
  }

  .field-select {
    margin-bottom: $spacer;
    @media (min-width: breakpoint-min("md")) and (max-width: breakpoint-max("lg")) {
      margin-bottom: 2 * $spacer;

      > select {
        margin-left: 2 * $spacer * 0.25;
      }
    }
  }
}

#sidebar {
  li {
    margin-top: $spacer * 0.5;
  }
  h4 {
    line-height: $line-height-lg;
  }
  .contacts-header {
    margin-top: 4 * $spacer;
  }

  .contact-properties {
    padding-left: 0.125rem;

    > div {
      padding-bottom: 5px;
    }
  }

  ol.contacts {
    line-height: 1.33;

    li {
      margin-bottom: 1rem;
      margin-top: $spacer * 0.5;
      word-break: break-word;
      .name {
        font-weight: bold;
      }
    }
  }

  ol.sidenav {
    li {
      color: $gray-900;
      margin-top: $spacer * 0.5;
    }

    ol.subsection {
      margin-bottom: $spacer;
      padding-left: 0;
      li {
        list-style: square;
        margin-left: 18px;
        margin-top: $spacer * 0.5;
      }
    }
  }
}

.contacts_admin .name {
  font-size: 16px;
  font-weight: 500;
}

.contact-photo {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  height: 70px;
  margin-right: 15px;
  margin-top: 3px;
  min-width: 70px;
}

// Indent contact fields so they align evenly, only when there is a contact photo
.sidenav.contacts .contact-photo + div[itemprop] ~ div[itemprop] {
  margin-left: 85px;
}

.item-grid-block {
  h3 {
    margin-top: 0;
  }

  .text-col {
    float: none;
    width: auto;
  }

  .items-col {
    display: flex;
    margin-bottom: 1em;
    z-index: 1;

    @media (max-width: breakpoint-max("md")) {
      margin-bottom: $line-height-lg;
    }
  }

  .box {
    align-self: auto;
    flex: 1 0 25%;
    margin: auto;
    min-width: 25%;
    order: 1;
    padding: 5px;
  }

  .img-thumbnail {
    border: 1px solid $gray-600;
    border-radius: 0;
    height: 110px;
    object-fit: cover;
    overflow: hidden;
    padding: 0;
    width: 100%;

    @media (min-width: breakpoint-min("lg")) {
      height: 160px; // default: no sidebar, no text column
      // reduce height if on a page with a sidebar or text column, because will be less wide
      .col-md-9 & {
        height: 125px;
      }
    }
  }

  .item-0 {
    flex: 3 1 41%;
  }

  .item-2 {
    flex: 2 1 33%;
  }

  .item-0,
  .item-1,
  .item-2 {
    order: 0;

    .img-thumbnail {
      height: 270px;
    }
  }
}

.preview-btn,
.preview-exit-btn {
  float: left;
  width: 100px;
}

.missing-croppable {
  display: none;
}

.item-input-field[disabled="disabled"] {
  visibility: hidden;
}

.empty-page-block {
  @extend .alert;
  @extend .alert-info;
  margin-top: $spacer;
  h2 {
    margin-top: 0;
  }
  p,
  ol > li {
    padding: $spacer * 0.5;
  }
  ol > li:last-child {
    padding-bottom: 0;
  }
}

.oembed-block {
  @media (max-width: breakpoint-max("md")) {
    margin-bottom: $spacer;
  }

  iframe {
    @media (min-width: breakpoint-min("md")) {
      max-width: 100%;
    }
  }
}

.items-block {
  .text-col {
    float: none;
    width: auto;
  }
  .items-col {
    z-index: 1;

    @media (max-width: breakpoint-max("md")) {
      margin-bottom: 0;
    }

    .box {
      min-width: 150px;
      -webkit-flex: 1 1 150px;
    }

    /* two items */
    .box:first-child:nth-last-child(2),
    .box:first-child:nth-last-child(2) ~ .box {
      min-width: 250px;
      -webkit-flex: 1 1 250px;
    }

    /* only images, no text */
    &:last-child {
      .box {
        padding: 0.25em;
        img {
          max-height: 250px;
          object-fit: cover;
          @media (max-width: breakpoint-max("md")) {
            max-height: 175px;
          }
        }

        @media (max-width: breakpoint-max("md")) {
          -webkit-flex: 1 1 175px;
        }
      }
    }
  }
}

.item-features .carousel-indicators {
  @media (max-width: breakpoint-max("sm")) {
    width: 100%;
    margin-top: 2 * $spacer;
  }
}

.carousel-block .carousel-caption h3 {
  padding-left: 2 * $spacer;
  padding-right: 2 * $spacer;
}

.zpr-link {
  @extend .btn-sm;
  margin-top: $spacer * 0.75;
}
