#report-problem-form {
  display: none;
  border-bottom: 1px solid $gray-600;

  h2 {
    @extend .sr-only !optional;
    @extend .visually-hidden !optional;
  }
}

@include media-breakpoint-up(sm) {
  #new_contact_form .col-form-label {
    text-align: right;
  }
}
