/* CSS for use across sir-trevor widgets */

.widget-header {
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D4D4D4;
}

.blacklight-home_pages-edit {
  [data-type="search_results"] {
    display: none;
  }
}

.content-block {
  margin-top: 3*$spacer;
  margin-bottom: 3*$spacer;
}

// Sir-trevor sets the overflow to hidden which
// obscures the bottom of things like the typeahead
.st-blocks {
  overflow: visible;
}

.st-block__inner {
  border: 1px solid $gray-700;
  box-shadow: 3px 3px 15px $gray-700;
  margin: 1em 20px;
  padding: 1.875em 1.875em 2.8em;
}

.st-block--textable .st-block__inner {
  margin: 1em 20px;
  transition: padding-left .2s ease;
}

.st-block--empty.st-block--textable .st-block__inner {
  padding-left: 75px;
}

.st-block-replacer {
  top: 40%;
}

.form-group .st-text-block {
  @extend .form-control;
  height: auto !important;
  min-height: 6em;
}

.st-block .st-block-ui-btn__delete {
  display: block !important;
}

.st-block-addition {
  display: block !important;
}

.st-block-addition-top {
  text-align: start;
}

.st-block-controls {
  display: none !important;
}

.st-block--controls-active .st-block__inner {
  display: none;
}

.spotlight-block-controls {
  border: 1px solid $gray-700;
  border-radius: 4px;
  box-shadow: 3px 3px 15px $gray-700;
  margin: 1em 20px;
  padding: 1.875em 1.875em 2.8em 70px;
}

.st-block-controls__button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-outline-primary;

  border: 1px solid $gray-700;

  .st-icon {
    margin-left: auto;
    margin-right: auto;
  }
}
