/* CSS for use across sir-trevor widgets */

.widget-header {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #D4D4D4;
}

.blacklight-home_pages-edit {
  [data-type="search_results"] {
    display: none;
  }
}

.content-block {
  margin-top: 3*$padding-large-vertical;
  margin-bottom: 3*$padding-large-vertical;
}

.st-block-ui-btn--preview {
  width: 8ch;
}

.st-block-ui-btn--preview, .st-block-ui-btn--edit {
  font-family: $font-family-base;
}

.st-block-controls {
  border-radius: 12px;
  border: 3px dotted #999;
}

.st-block-control {
  @extend .btn;

  max-width: 100px;
  word-wrap: break-word;
  white-space: normal;
  color: #666;
  vertical-align: top;

  .icon {

    border: 3px solid #ccc;
    border-radius: 6px;
    width: 70px;
    height: 40px;
    background-size: cover;
    @extend .text-hide;
  }

  .st-icon-multi-up-item-grid {
    @extend .icon;
    background-image: image-url('spotlight/blocks/multi-up-item-grid.png');
  }

  .st-icon-text {
    @extend .icon;
    background-image: image-url('spotlight/blocks/text.png');
  }

  .st-icon-item-text {
    @extend .icon;
    background-image: image-url('spotlight/blocks/item-text.png');
  }

  .st-icon-item-carousel {
    @extend .icon;
    background-image: image-url('spotlight/blocks/item-carousel.png');
  }

  .st-icon-item-features {
    @extend .icon;
    background-image: image-url('spotlight/blocks/item-features.png');
  }
}

.st-block__inner {
  @extend .panel;
  @extend .panel-default;
  
  border-color: $gray-lighter;
  box-shadow: 3px 3px 15px $gray-lighter;

  &:hover {
    @extend .panel-info;
  }
}

.st-block-ui-btn, .st-block-control-ui-btn {

  color: $panel-info-text;
  border-color: $panel-info-heading-bg;

  &:hover {
    color: $panel-info-text;
    border-color: $panel-info-heading-bg;
    background-color: $panel-info-heading-bg;
    text-decoration: none;
  }
}

.st-block {
  margin-top: 1.5em;
}

.st-block-controls__top, .st-block--with-plus {

    &:hover {
      &:before, &:after {
      color: #666;
    }
  }
}

.form-group .st-text-block {
  @extend .form-control;
  height: auto;
  min-height: 6em;
}

.st-icon--add:after {
  cursor: pointer;
}