#slideshow-modal {
  .modal-dialog {
    width: 100%;
    .modal-header {
      border-bottom: none;
    }
  }
}

#slideshow {
  $slideshow-viewport-height: 400px;
  .carousel-inner {
    height: $slideshow-viewport-height;
    .item {
      width: 100%;
      height: 100%;
      .frame:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
      }
      .frame {
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .carousel-caption {
        display: none;
      }
    }
  }
  .carousel-control {
    height: $slideshow-viewport-height;
    background-image: none;
    .glyphicon {
      background-color: $gray-light;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  }
  .carousel-control.left .glyphicon  {
    padding-right: 3px;
  }
  .carousel-control.right .glyphicon  {
    padding-left: 2px;
  }
  .carousel-indicators {
    position: relative;
    bottom: 0;
  }
  .carousel-indicators li {
    border: 1px solid rgba(100, 100, 100, .3);
  }
  .carousel-indicators li.active {
    background-color: rgba(100, 100, 100, .3);
  }

  #slideshow-caption {
    font-size: 18pt;
    font-weight: 400;
    font-color: $gray-dark;
    text-align: center;
    margin-top: 10px;
  }

  #slideshow-counter {
    margin-top: 20px;
    text-align: center;
  }

  .controls {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    border: 1px solid $gray-light;
    border-radius: 5px;
    padding: 15px;
    label {
      margin-left: 10px;
    }
    .buttons {
      font-size: 14pt;
      a {
        color: $gray-dark;
      }
    }
  }
}
