.carousel-block {

  .carousel-inner > .carousel-item > a > img {
    // center and fill the image
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .carousel-caption {

    // replace bottom margin with padding
    bottom: 0;
    padding-bottom: 40px;

    // fill left + right
    left: 0;
    right: 0;

    // and add a nice background gradient to the captions
    @include gradient-y($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
  }

  // Scale up controls for tablets and up
  @media screen and (min-width: breakpoint-min("sm")) {
    // Show and left align the captions
    .carousel-caption {
      left: 0;
      right: 0;
      padding-bottom: 50px;
    }
  }

  &.carousel-height-small {
    .carousel-inner > .carousel-item > a > img {
      height: 350px;
    }
  }

  &.carousel-height-medium {
    .carousel-inner > .carousel-item > a > img {
      height: 500px;
    }
  }

  &.carousel-height-large {
    .carousel-inner > .carousel-item > a > img {
      height: 800px;
    }
  }
}

.item-features {
  .carousel-indicators {
    bottom: initial;
    left: initial;
    margin-left: 0;
    margin-right: 0;
    text-align: start;

    &.col-sm-6 {
      @extend .col-sm-6;
    }

    li {
      display: relative;
      width: 100%;
      height: auto;
      text-indent: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      opacity: 1;

      @extend .list-group-item;
    }

    .active, .active:hover {
      @extend .list-group-item;

      width: 100%;
      height: auto;

      a { color: #fff; }
    }
  }
}
