/*
*= require sir-trevor
*= require social-share-button
*= require bootstrap-tagsinput
*= require jquery.jcrop
*/
@import "spotlight/variables";
@import "spotlight/mixins";
@import "bootstrap/variables";

@import "spotlight/sir-trevor";
@import "spotlight/attachments";
@import "spotlight/pages";
@import 'blacklight_gallery/default';
@import "spotlight/browse";
@import "spotlight/header";
@import "spotlight/footer";
@import "spotlight/catalog";
@import "spotlight/curation";
@import "spotlight/exhibit_admin";
@import "spotlight/edit_in_place";
@import "spotlight/item_text_block";
@import "spotlight/multi_image_selector";
@import "spotlight/multi_up_item_grid";
@import "spotlight/slideshow_block";
@import "spotlight/nestable";
@import "spotlight/blacklight_configuration";
@import "spotlight/typeahead";
@import "spotlight/bootstrap_overrides";
@import "spotlight/report_a_problem";



// Styles below keep footer at bottom of viewport
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + $footer-top-margin;
}
