@import "variables";
@import "mixins";
@import "sir-trevor_overrides";
@import "attachments";
@import "pages";
@import "breadcrumbs";
@import "browse";
@import "browse_group_categories_block";
@import "header";
@import "footer";
@import "catalog";
@import "croppable";
@import "curation";
@import "exhibit_admin";
@import "exhibit_navbar";
@import "edit_in_place";
@import "featured_browse_categories_block";
@import "item_text_block";
@import "uploaded_items_block";
@import "modals";
@import "multi_image_selector";
@import "multi_up_item_grid";
@import "slideshow_block";
@import "upload";
@import "nestable";
@import "blacklight_configuration";
@import "typeahead";
@import "bootstrap_overrides";
@import "blacklight_overrides";
@import "report_a_problem";
@import "exhibits_index";
@import "collapse_toggle";
@import "translations";
@import "utilities";
@import "view_larger";
@import "accessibility";
@import "openseadragon"; // Copied from openseadragon-rails gem



// Styles below keep footer at bottom of viewport
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + $footer-top-margin;
}
