.translation-edit-form {
  .glyphicon-ok {
    color: $translation-available-color;
  }

  .browse-category-title {
    margin-bottom: $padding-base-vertical;

    label {
      font-weight: normal;
    }
  }

  .browse-category-description {
    margin-bottom: $padding-large-vertical * 2;
  }
}

.translation-subheading {
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
}

.form-group.translation-form {
  .col-form-label {
    padding-top: $card-spacer-y + $padding-base-vertical;
  }

  .glyphicon-ok {
    padding-top: $card-spacer-y + $padding-base-vertical;
  }
}

.tanslation-description-toggle {
  margin: 0;
  padding: 0;

  &.collapsed {
    .caret {
      transform: rotate(-90deg);
    }
  }

  label { cursor: pointer; }
}

.panel-translation {
  background-color: $translation-panel-bg;
  padding-bottom: 0;

  .form-text {
    color: $translation-help-color;
    padding-left: 12px;
  }
}

.default-page-outdated {
  font-weight: 700;
}

.new-translated-page {
  font-style: italic;
}

.browse-translations-header {
  border-bottom: 1px solid $border-color;
  color: $gray-600;
  display: block;
  font-size: $h4-font-size;
  font-weight: bold;
  margin-bottom: $padding-large-vertical * 2;
  margin-top: $padding-large-vertical;
  padding-bottom: 3px;
}
