$footer-top-margin: 3rem !default;
$footer-height: 7.5rem !default;

$masthead-bg: $card-bg !default;
$masthead-height: 11.25rem !default;
$masthead-image-blur: 1px !default;

$exhibit-card-height: 350px !default;
$exhibit-card-bg: $card-bg !default;
$exhibit-card-border: $card-border-color !default;
$exhibit-card-gutter: 30px !default;
$exhibit-card-image-size: 269px !default;
$exhibit-card-shadow: inset 2px 2px 5px -2px $exhibit-card-border !default;

$navbar-transparent-border: $gray-500 !default;
$navbar-transparent-page-bg: rgba(0, 0, 0, 0.5) !default;

// Translations
$translation-available-color: #80bf77;
$translation-panel-bg: #f5f5f5;
$translation-help-color: #555;
