:root {
  --footer-top-margin: 3rem;
  --footer-height: 7.5rem;

  --masthead-bg: var(--bs-body-bg);
  --masthead-height: 11.25rem;
  --masthead-image-blur: 1px;
  --navbar-transparent-border: var(--bs-gray-500);
  --navbar-transparent-page-bg: rgba(0, 0, 0, 0.5);

  --spotlight-badge-color: var(--bs-white);
  --spotlight-edit-in-place-highlighting-background: #f7f7d0;
  --spotlight-font-size-sm: calc(0.875 * var(--bs-body-font-size));
  --spotlight-input-focus-border-color: color-mix(in srgb, var(--bs-primary) 50%, white);
  --spotlight-image-overlay-max-height: 300px;
  --spotlight-zindex-autocomplete: 1000;

  /* Translations */
  --translation-available-color: #80bf77;
  --translation-panel-bg: #f5f5f5;
  --translation-help-color: #555;
}
