$footer-top-margin: 3 * $padding-small-vertical !default;
$footer-height: 118px !default;
$white: #ffffff !default;
$black: #000000 !default;

$exhibit-card-height: 350px !default;
$exhibit-card-bg: $well-bg !default;
$exhibit-card-border: $well-border !default;
$exhibit-card-gutter: $padding-large-horizontal !default;
$exhibit-card-image-size: 273px !default;
$exhibit-card-shadow: inset 2px 2px 5px -2px $exhibit-card-border !default;
