@import 'bootstrap';

#documents.table {
  .documentHeader {

  }

  .row {
    margin: 0;
  }

  .index-document-functions { 
    display: none;
  }

  .document-thumbnail {
    @extend .thumbnail;

    img { 
      max-width: 60px !important;
    }
  }

}

#document {
  ul.tags li {
    @extend .label;
    @extend .label-default;
  }
}

form.edit_solr_document {
  .bootstrap-tagsinput {
    display: block;
  }
}

.blacklight-catalog-edit, .blacklight-catalog-show {
  .thumbnail {
    @extend .col-md-6;
    display: inline-block;
  }

  .dl-horizontal {
    @extend .col-md-6;
  }

  .tags {
    @extend .col-md-6;
    @extend .pull-right;
  }

  #document {
    @extend .clearfix;
    @extend .row;
  }
}
