.twitter-typeahead {
  width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  z-index: 1000 !important;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px 3px 100px;
  font-size: 18px;
  line-height: 24px;
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }
  p {
    margin: 0;
  }
  .document-thumbnail {
    float: left;
    width: 60px;
    padding: 0;
    margin: 0;
    margin-left: -80px;
    position: relative;

    img {
      max-width: 60px;
      max-height: 60px;
    }

    img:hover {
      position: absolute;
      right: -3px;
      top: -3px;
      max-width: 160px;
      max-height: 100px;
      border: 3px solid $panel-info-heading-bg;
    }
  }
}
