<% if can? :edit, @page %>
  <div class="empty-page-block">
    <h2>Building this feature page</h2>

    <ol>
      <li>
        To add content to this page, select the Edit button above to enter edit mode.
      </li>
      <li>
        In edit mode, select the plus sign icon to display the widget selection panel. This panel displays a range of widgets, each of which adds a different type of content to the page.
      </li>
      <li>
        Select a widget to configure. Select <b>Save changes</b> when you're ready to add it to the page.
      </li>
      <li>
        Repeat the steps above to continue adding widgets to build out the page. To work more efficiently, you can configure multiple widgets before saving the page. Use the icons in the lower right of the widget configuration panel to preview, reorder, or delete widgets.
      </li>
      <li>
        Note the <b>Options</b> and <b>Thumbnail</b> tabs at the top of the page in edit mode. Options in these tabs enable you to publish or unpublish the page, turn on or off the page sidebar, and create a thumbnail image to represent the page.
      </li>
      <li>
        Visit the Spotlight <%= link_to 'documentation pages', 'https://github.com/projectblacklight/spotlight/wiki' %> to learn more about creating exhibit pages.
      </li>
    </ol>
  </div>
<% end %>
