<div class="home_page">
<h3><%= t('spotlight.pages.index.feature_pages.home_pages_header') %></h3>
  <div class="panel panel-default">
    <div class="panel-heading page">
      <div class="main">
        <h3 class="panel-title"><%= @exhibit.home_page.title %></h3>
        <div class="page-links">
          <%= view_link @exhibit.home_page, class: 'btn btn-text' %> &middot;
          <%= edit_link @exhibit.home_page, class: 'btn btn-text' %>
        </div>
      </div>
    </div>
  </div>
</div>