<div class="home_page">
<h3><%= t('spotlight.pages.index.feature_pages.home_pages_header') %></h3>
  <div class="panel panel-default">
    <div class="panel-heading page">
      <div class="main">
        <h3 class="panel-title"><%= current_exhibit.home_page.title_or_default %></h3>
        <div class="page-links">
          <%= exhibit_view_link @exhibit.home_page, class: 'btn btn-link' %> &middot;
          <%= exhibit_edit_link @exhibit.home_page, class: 'btn btn-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
