<div>
  <%= f.check_box :published %> <%= f.label :published, t(:'.published') %>
</div>
<div>
  <%= f.check_box :display_sidebar %> <%= f.label :display_sidebar, t(:'spotlight.administration.show_sidebar') %>
</div>