<div id="sidebar" class="col-md-3" role="complementary">
  <h4><%= link_to_unless_current @page.top_level_page_or_self.title, [spotlight, @page.exhibit, @page.top_level_page_or_self] %></h4>
  <ul class="nav sidenav">
    <% @page.top_level_page_or_self.child_pages.published.each do |page| %>
      <li class="<%= 'active' if current_page? [spotlight, page.exhibit, page] %>"><%= link_to_unless_current page.title, [spotlight, page.exhibit, page] %></li>
    <% end %>
  </ul>
</div>
