<div class="box" data-id="<%= document.id %>">
  <% view_config = blacklight_config.view_config(:embed) %>
  <%= render (view_config.document_component || Spotlight::SolrDocumentLegacyEmbedComponent).new((Blacklight.version > '8.0' ? :document : :presenter) => document_presenter(document, view_config: view_config), counter: nil, block: local_assigns[:block]) %>
</div>
