<div class="st__content-block st__content-block--quote">
  <div class="quote">
    <blockquote class="blockquote">
      <div class="quote__content">
        <% if quote_block.format == :html %>
            <%= sir_trevor_format quote_block.text, format: quote_block.format %>
        <% else %>
          <%= sir_trevor_markdown quote_block.text %>
        <% end %>
      </div>

      <% if quote_block.cite.present? %>
        <footer class="quote__cite blockquote-footer">
          <cite class="quote__cite-text"><%= quote_block.cite %></cite>
        </footer>
      <% end %>
    </blockquote>
  </div>
</div>
