<% block = quote_block %>
<div class="st__content-block st__content-block--quote">
  <div class="quote">
    <blockquote>
      <div class="quote__content">
        <% if block.format == :html %>
            <%= sir_trevor_format block.text, format: block.format %>
        <% else %>
          <%= sir_trevor_markdown block.text %>
        <% end %>
      </div>

      <% if block.cite.present? %>
        <div class="quote__cite">
          <cite class="quote__cite-text">&ndash; <%= block.cite %></cite>
        </div>
      <% end %>
    </blockquote>
  </div>
</div>
