<% if search_results_block.searches? %>
<div class="content-block documents">
  <% response, document_list = get_search_widget_search_results(search_results_block) %>
  <%- unless document_list.present? %>
    <div class="alert alert-warning">
      <strong>No items to display.</strong> There are currently no items in this exhibit that match the curator's search criteria.
    </div>
  <%- else %>
      <% @response, @document_list = [response, document_list] %>

      <% views = blacklight_view_config_for_search_block(search_results_block) %>
      <% if views.length > 1 -%>
      <div id="sortAndPerPage" class="clearfix" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label', default: 'Results navigation')%>">
        <div class="search-widgets float-right">
          <%= render partial: 'view_type_group', locals: { block: search_results_block } %>
        </div>
      </div>
      <% end %>
      <%# ensure we set the right global view type so all the blacklight indirection works out; maybe revisit this on Blacklight 8 %>
      <% controller.instance_variable_set(:@document_index_view_type, block_document_index_view_type(search_results_block)) %>
      <%= render_document_index_with_view(block_document_index_view_type(search_results_block), document_list) %>
      <%= render 'results_pagination' %>
  <%- end %>
</div>
<% end %>
