<div class="container breadcrumbs-container">
  <div class="row">
    <div class="col-md-12">
      <%= render_breadcrumbs builder: Spotlight::BootstrapBreadcrumbsBuilder %>
    </div>
  </div>
</div>
