<div class="container breadcrumbs-container" role="navigation" aria-label="<%= t('spotlight.breadcrumb.label') %>">
  <div class="row">
    <div class="col-md-12">
      <%= render_breadcrumbs builder: Spotlight::BootstrapBreadcrumbsBuilder %>
    </div>
  </div>
</div>
