<% if current_exhibit %>
<div id="exhibit-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to t(:'curation.home'), root_url %></li>
      <li><%= link_to t(:'curation.browse'), spotlight.exhibit_browse_index_url(current_exhibit) %></li>
    </ul>

    <div class="navbar-right col-sm-4 col-md-4"> 
      <%= render_search_bar  %>
    </div>
  </div>
</div>
<% end %>