<% if current_exhibit %>
<div id="exhibit-masthead" class="jumbotron">
  <div class="container">
    <div class="site-title h1">
      <%= current_exhibit.title %>
      <% if current_exhibit.subtitle %>
        <small><%= current_exhibit.subtitle %></small>
      <% end %>
    </div>
  </div>
</div>
<% end %>