<div id="site-masthead">
  <div class="container">
    <div class="site-title h1">
      <% if content_for? :masthead %>
        <%= content_for :masthead %>
      <% else %>
        <%= current_site.title %>
        <% if current_site.subtitle %>
          <small><%= current_site.subtitle %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
