            <div class="col-md-6 confirmation-status">
              <% if contact_email.confirmed? %>
                <span class="confirmed"><span class="glyphicon glyphicon-ok-sign"></span> Confirmed</span>
              <% elsif contact_email.confirmation_sent_at > 3.days.ago %>
                <span class="confirmed"><span class="glyphicon glyphicon-ok-sign"></span> Confirmation sent.</span>
              <% else %>
                <span class="unconfirmed"><span class="glyphicon glyphicon-exclamation-sign"></span> Not validated</span> <%= link_to "Resend confirmation?", contact_email_confirmation_path(contact_email: {email: contact_email.email}),  method: :post %>
              <% end %>
            </div>

