<div role="tabpanel" class="tab-pane" id="delete">
  <div class="alert alert-danger">
    <h2 class="alert-heading h4"><%= t(:".heading") %></h2>
    <div class="row">
      <p class='col-9'><%= t(:".warning_html", export_link: link_to(t(:'spotlight.exhibits.export.download'), spotlight.edit_exhibit_path(current_exhibit, anchor: 'export'))) %></p>
      <div class='col-3'>
        <%= delete_link current_exhibit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
