<% if exhibit.thumbnail.present? && exhibit.thumbnail.iiif_url %>
  <%= image_tag(exhibit.thumbnail.iiif_url, alt: '') %>
<% else %>
  <%= image_tag 'spotlight/default_thumbnail.jpg', class: 'default-thumbnail', alt: '' %>
<% end %>

<% unless exhibit.published? %>
  <div class="label label-warning unpublished"><%= t('.unpublished') %></div>
<% end %>

<h2 class="card-title"><%= exhibit.title %></h2>
