<div class="col-xs-12 col-sm-4 exhibit-card">
  <div class="flipper">
    <div class="card-front card-face">
      <%= render 'exhibit_card_front', exhibit: exhibit %>
    </div>
    <div class="card-back card-face">
      <%= render 'exhibit_card_back', exhibit: exhibit %>
    </div>
  </div>
</div>