<% if exhibit.thumbnail.present? && exhibit.thumbnail.iiif_url %>
  <%= image_tag(exhibit.thumbnail.iiif_url) %>
<% else %>
  <%= image_tag 'spotlight/default_thumbnail.jpg', class: 'default-thumbnail' %>
<% end %>

<% unless exhibit.published? %>
  <div class="badge badge-warning unpublished"><%= t('.unpublished') %></div>
<% end %>

<h2 class="exhibit-card-title"><%= exhibit.title %></h2>
