<% if exhibit.thumbnail.present? %>
  <%= image_tag(riiif.image_path(exhibit.thumbnail, region: 'square', size: Spotlight::Engine.config.featured_image_thumb_size.join(','))) %>
<% else %>
  <%= image_tag 'spotlight/default_thumbnail.jpg', class: 'default-thumbnail' %>
<% end %>

<% unless exhibit.published? %>
  <div class="label label-warning unpublished"><%= t('.unpublished') %></div>
<% end %>

<h2 class="card-title"><%= exhibit.title %></h2>
