<div class="col-md-9">
  <% if @exhibits.published.none? %>
    <%= render 'missing_exhibits' %>
  <% end %>

  <%= cache cache_key_for_spotlight_exhibits do %>
    <% @exhibits.published.each_slice(3).each do |row| %>
    <div class="row"><!-- start main content row -->
      <%= render collection: row, partial: 'exhibit_card', as: 'exhibit' %>
    </div>
    <% end %>
  <% end %>
</div>

<aside class="col-md-3">
  <%= render "shared/home_sidebar" %>
</aside>
