<div id="content" class="col-md-9 exhibit-admin">
<%= page_title t(:'spotlight.sites.new.section') %>
<%= render 'new_exhibit_form' %>
</div>

<aside class="col-md-3">
  <%= render "shared/site_sidebar" %>
</aside>
