<div id="header-navbar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
  	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
  	      <span class="sr-only"><%= t :toggle_nav %></span>
  	      <span class="icon-bar"></span>
  	      <span class="icon-bar"></span>
  	      <span class="icon-bar"></span>
  	    </button>
	    <% end %>
	  <%= link_to "Spotlight", "http://library.tamu.edu", class: "navbar-brand pull-left" %>
    </div>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'tamu/user_menu' %>
    </div>
  </div>
</div>
