<%# looks suspiciously similar to blacklight's _thumbnail, but skips all the search context + linking -%>
<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, { alt: '' }, :suppress_link => true) %>
<div class="img-thumbnail">
  <%= tn %>
</div>
<%- end %>
