<tr class="d-flex">
  <td class="col-6">
    <h4 class="h5 mb-0"><%= page.title %></h4>
    <%= render Spotlight::EditViewLinksComponent.new(page:, classes: 'page-links pt-0') %>
  </td>
  <td class="col-4"><%= page.last_edited_by.to_s if page.last_edited_by %></td>
  <td class="col-2"><%= l page.updated_at, format: :long %></td>
</tr>
