<h3><%= t :'.header' %></h3>

<% unless @solr_documents.empty? %>
  <%= render partial: 'spotlight/catalog/document_admin_table', locals: { documents: @solr_documents } %>
<% else %>
  <%= t(:'.no_documents') %>
<% end %>
