<%= render 'spotlight/shared/exhibit_sidebar' %>

<div id="content" class="col-md-9">
  <%= curation_page_title %>

  <% if Spotlight::Engine.config.analytics_provider and Spotlight::Engine.config.analytics_provider.enabled? %>
    <%= render 'analytics' %>
  <% else %>
    <div class="empty-page-block">
      <% unless current_user %>
        <p>In order to view exhibit analytics, the site administrator must <a href="https://github.com/sul-dlss/spotlight/wiki/Installation">configure an analytics provider.</a></p>
      <% end %>
    </div>
  <% end %>
</div>
