<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<%= curation_page_title %>

<% if current_exhibit.analytics_provider&.enabled? %>
  <%= render Spotlight::Analytics::DashboardComponent.new(current_exhibit: current_exhibit) %>
<% else %>
  <div class="empty-page-block">
    <p>In order to view exhibit analytics, the site administrator must configure an analytics provider.</p>
  </div>
<% end %>
