<div role="tabpanel" class="item-upload-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <% Spotlight::Resources::Iiif::Engine.config.resource_partials.each_with_index do |p, i| %>
      <% name = p.split('/').last %>
      <li role="presentation" class="<%= "active" if i ==0 %>">
        <%= link_to t(".#{name}"), "##{name}", role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => 'single' %>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% Spotlight::Resources::Iiif::Engine.config.resource_partials.each_with_index do |p, i| %>
      <% name = p.split('/').last %>
      <%= content_tag :div, id: name, role: 'tabpanel', class: "tab-pane #{"active" if i == 0}" do %>
        <%= render p %>
      <% end %>
    <% end %>
  </div>
</div>
