<% if can? :manage, Spotlight::Resource.new(exhibit: current_exhibit) %>
  <%= render Spotlight::ProgressBarComponent.new(exhibit: current_exhibit, translation_field: 'spotlight.catalog.reindex_progress_panel') %>
  <div class="add-items-nav clearfix">
    <div class="float-right float-end">
      <%= link_to t('.reindex'), reindex_all_exhibit_resources_path(current_exhibit), 
          data: { method: :post, turbo_method: :post },
          class: 'btn btn-secondary' %>
      <% if Spotlight::Engine.config.resource_partials.any? %>
        <%= link_to t('.new_resource'), new_exhibit_resource_path(current_exhibit), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
