<% if can? :manage, Spotlight::Resource.new(exhibit: current_exhibit) %>
  <div data-behavior='reindex-monitor' data-monitor-url="<%= monitor_exhibit_resources_path(current_exhibit) %>">
    <%= render 'reindex_progress_panel' %>
  </div>
  <div class="add-items-nav clearfix">
    <div class="pull-right">
      <%= link_to t('.reindex'), reindex_all_exhibit_resources_path(current_exhibit), method: :post, class: 'btn btn-default' %>
      <% if Spotlight::Engine.config.resource_partials.any? %>
        <%= link_to t('.new_resource'), new_exhibit_resource_path(current_exhibit), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
