<% if can? :manage, Spotlight::Resource.new(exhibit: current_exhibit) %>
<div class="add-items-nav clearfix">
  <div class="pull-right">
    <% if Spotlight::Engine.config.new_resource_partials.any? %>
      <%= link_to t('.new.repo_item'), new_exhibit_catalog_path(current_exhibit), class: 'btn btn-default' %>
    <% end %>
    <%= link_to t('.new.non_repo_item'), new_exhibit_resources_upload_path(current_exhibit), class: 'btn btn-default' %>
  </div>
</div>
<% end %>