<% # container for all documents in index view -%>
<table id="documents" class="table">
  <thead>
    <tr><td class="col-sm-3"></td><th  class="col-sm-6">Title</th><th class="col-sm-3">Date Added</th></tr>
  </thead>
  <%= render documents, :as => :document %>
</table>
