<% # container for all documents in index view -%>
<table id="documents" class="table">
  <thead>
    <tr>
      <th class="thumbnail-column"></th>
      <th scope="col"><%= t(:'spotlight.catalog.fields.title') %></th>
      <th scope="col" class="text-nowrap"><%= t(:'spotlight.catalog.fields.date_added') %></th>
      <th scope="col" class="checkbox-toggle"><%= t(:'spotlight.catalog.fields.visibility') %></th>
    </tr>
  </thead>
  <%= render partial: 'document_row', collection: documents, as: :document %>
</table>
