<% # container for all documents in index view -%>
<table id="documents" class="table">
  <thead>
    <tr>
      <th class="col-sm-1"></th>
      <th class="col-sm-5"><%= t(:'spotlight.catalog.fields.title') %></th>
      <th class="col-sm-2"><%= t(:'spotlight.catalog.fields.date_added') %></th>
      <th class="col-sm-1 checkbox-toggle"><%= t(:'spotlight.catalog.fields.visibility') %></th>
    </tr>
  </thead>
  <%= render partial: 'document_row', collection: documents, as: :document %>
</table>
