<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <%= link_to '#', data: { :'slide-to' => document_counter, toggle: "modal", target: "#slideshow-modal" } do %>
      <%= image_tag thumbnail_url(document) %>
    <% end %>
  </div>
</div>
