      <% # header bar for doc items in index view -%>
      <td>
        <%= render_document_partial document, 'thumbnail', document_counter: document_counter %>
      </td>
      <td>
        <%= render_document_partial document, 'index_header', document_counter: document_counter %>
      </td>

      <td>
        <%= Date.parse document['timestamp'] %>
      </td>
      

