<div class="container">
  <div class="row">
    <%- view_config = blacklight_config.view_config(action_name: :edit) %>
    <%= render (view_config.document_component || Blacklight::DocumentComponent).new(presenter: document_presenter(@document), classes: ['col-md-8'], component: :div, show: true, partials: view_config.partials, actions: false) do |component| %>
      <% component.with_title(as: 'h1', classes: '', link_to_document: false) %>
    <% end %>
    <div class="col-md-4">
      <%= render 'edit_default', document: @document %>
    </div>
  </div>
</div>
