<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <%= curation_page_title %>
  <% Spotlight::Engine.config.new_resource_partials.each do |p| %>
    <%= render p %>
  <% end %>
</div>
