<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', spotlight.contact_email_confirmation_url(:confirmation_token => @token) %></p>
