<%
  key = if @resource.roles.first.resource.is_a?(Spotlight::Site)
    'exhibits_admin_invitation_mailer'
  else
    'invitation_mailer'
  end
%>
<p><%= t("spotlight.#{key}.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("spotlight.#{key}.invitation_instructions.someone_invited_you", role: @resource.roles.first.role, exhibit_name: @resource.roles.first.resource.title, url: spotlight.exhibit_home_page_url(@resource.roles.first.resource)) %></p>

<p><%= link_to t("spotlight.#{key}.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t("spotlight.#{key}.invitation_instructions.ignore_html") %></p>
