  <h4>Administration</h4>
  <ul class="nav sidenav">
    <li class="disabled"><%= link_to "Dashboard", "#" %></li>
    <li><%= link_to "Settings", spotlight.edit_exhibit_path(@exhibit) %></li>
    <li><%= link_to "Users", spotlight.exhibit_roles_path(@exhibit) %></li>
  </ul>

