<ul class="nav sidenav top-level flex-column">
  <li class="nav-item"><%= link_to t(:'spotlight.curation.sidebar.dashboard'), spotlight.exhibit_dashboard_path(current_exhibit), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to t(:'spotlight.curation.sidebar.analytics'), spotlight.analytics_exhibit_dashboard_path(current_exhibit), class: 'nav-link' %></li>
</ul>
<%= render 'spotlight/shared/configuration_sidebar' if can? :update, current_exhibit %>
<%= render 'spotlight/shared/curation_sidebar' %>
