<div style="display:none;visibility:hidden;">
  <% honeypot_field_name = Spotlight::Engine.config.spambot_honeypot_email_field %>
  <%= f.email_field honeypot_field_name, label: t(:'spotlight.shared.report_a_problem.honeypot_field_explanation') %>
</div>
