<% if current_exhibit && current_exhibit.languages.accessible_by(current_ability).any? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <%= Spotlight::Language.new(locale: I18n.locale).to_native %>
    </a>
    <ul class="dropdown-menu">
      <% locale_selecter_dropown_options.each do |language| %>
        <li>
          <%= link_to language.to_native, current_page_for_locale(language.locale), class: 'dropdown-item',
                      data: { turbolinks: false, turbo: false } %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
