<h1>Edit an item</h1>
  <span class="label label-warning"><%= t(:'spotlight.items.current_mode', mode: t(:'spotlight.items.curation_mode')) %> <%= link_to t(:'spotlight.items.show_link'), exhibit_item_path(@exhibit, @document) %></span>

