<%= bootstrap_form_for([current_exhibit, @resource]) do |f| %>
  <%= f.text_field :url  %>
  <div class="form-actions">
    <div class="primary-actions">
      <%= cancel_link @resource, :back, class: 'btn btn-secondary' %>
      <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end if can? :manage, @resource %>
