<div class="alert alert-info">
  There are no external resources available. To add items from an external resource, that resource must first be registered with this application.

  Refer your exhibits administrator to the <%= link_to 'Spotlight Resource Scenarios', 'https://github.com/sul-dlss/spotlight/wiki/Resource-Scenarios' %> wiki page for more information about registering external resources.
</div>
