<h1><%= t :'spotlight.curation.header' %></h1>
<h2 class="text-muted"><%= t :'spotlight.feature_pages.header' %></h2>

<div class="panel-group">
<%= render @pages %>
</div>

<div>
<%= link_to t(:'helpers.submit.new', :model => Spotlight::Page.model_name.human.downcase), spotlight.new_page_path, :class => ' btn btn-primary' %>
</div>