<h1><%= t :'spotlight.curation.header' %></h1>
<h2 class="text-muted"><%= t :"spotlight.#{page_model.pluralize}.header" %></h2>

<div class="panel-group">
  <%= render @pages %>
</div>

<div>
  <%= link_to t(:'helpers.submit.new', :model => "Page"), new_spotlight_page_path_for(@exhibit), :class => ' btn btn-primary' %>
</div>
