<p>You can update in bulk several properties of items in this exhibit:</p>

<ul>
  <li>Visibility</li>
  <li>Tags</li>
  <li>Custom metadata fields</li>
</ul>

<p>The steps to making bulk updates are:</p>

<ol>
  <li>Download a CSV (comma-separated values) file from the Download CSV tab above. The downloaded CSV file will contain a row for every item in this exhibit. Each row contains the unique ID of an exhibit item along with the values of the reference and updatable fields you specify.</li>
  <li>Import the CSV file into a new spreadsheet, using an application such as a Google Sheets or Excel.</li>
  <li>In the new spreadsheet, update the values for the updatable fields of exhibit items you want to change. When you’ve finished making updates, save the spreadsheet.</li>
  <li>(Optional) Remove the rows for items that contain no updated values. This is not required but for exhibits with many items this can speed up the import process. If necessary, save the spreadsheet.</li>
  <li>Download/export the updated spreadsheet to your computer as a .csv file.</li>
  <li>Use the Upload CSV tab above to submit the updated file for processing.</li>
</ol>
