<div id="sortAndPerPage" class="sort-pagination clearfix">
  <div class="search-widgets float-md-right">
    <%= render_results_collection_tools wrapping_class: "search-widgets float-md-right" %>
  </div>
</div>
