<div id="sortAndPerPage" class="sort-pagination clearfix" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label', default: 'Results navigation')%>">
  <div class="search-widgets float-md-right">
    <%= render_results_collection_tools wrapping_class: "search-widgets float-md-right" %>
  </div>
</div>
