name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: test (ruby ${{ matrix.ruby }} / rails ${{ matrix.rails_version }} / blacklight ${{ matrix.blacklight_version }} ${{ matrix.additional_name }})
    strategy:
      matrix:
        rails_version: ["7.0.8.4"]
        ruby: ["3.1", "3.2"]
        bootstrap_version: ["~> 4.0"]
        blacklight_version: ["~> 7.34"]
        additional_engine_cart_rails_options: [""]
        additional_name: [""]
        include:
          - rails_version: "6.1.7.8"
            ruby: "3.0"
            blacklight_version: "7.34"
            bootstrap_version: ~> 4.0
          - rails_version: "7.1.3.4"
            ruby: "3.2"
            blacklight_version: "~> 7.34"
            bootstrap_version: ~> 4.0
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      BLACKLIGHT_VERSION: ${{ matrix.blacklight_version }}
      BOOTSTRAP_VERSION: ${{ matrix.bootstrap_version }}
      ENGINE_CART_RAILS_OPTIONS: --skip-git --skip-listen --skip-spring --skip-keeps --skip-coffee --skip-test
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          bundler: "latest"
          ruby-version: ${{ matrix.ruby }}
      - name: Change permissions
        run: chmod -R o-w /opt/hostedtoolcache/Ruby/3.2.4/x64/lib/ruby/gems/3.2.0/gems
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
