name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: test (ruby ${{ matrix.ruby }} / rails ${{ matrix.rails_version }} / blacklight ${{ matrix.blacklight_version }} ${{ matrix.additional_name }})
    strategy:
      matrix:
        rails_version: ["~> 8.0"]
        ruby: ["3.2", "3.3", "3.4"]
        bootstrap_version: ["~> 5.0"]
        blacklight_version: ["~> 8.0"]
        additional_engine_cart_rails_options: ["-j importmap"]
        additional_name: [""]
        include:
          - rails_version: "~> 8.0"
            ruby: "3.4"
            blacklight_version: "~> 9.0.0"
            additional_engine_cart_rails_options: "-j importmap"
            additional_name: Blacklight 9
          - rails_version: "~> 7.2"
            ruby: "3.3"
            blacklight_version: "~> 8.0"
            additional_engine_cart_rails_options: "-a propshaft -j importmap"
            additional_name: Rails 7.2 / Importmap
          - rails_version: "~> 7.2"
            ruby: "3.3"
            blacklight_version: "~> 8.0"
            additional_engine_cart_rails_options: "-a propshaft -j esbuild"
            additional_name: "Rails 7.2 / esbuild"
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      BLACKLIGHT_VERSION: ${{ matrix.blacklight_version }}
      BOOTSTRAP_VERSION: ${{ matrix.bootstrap_version }}
      ENGINE_CART_RAILS_OPTIONS: "--skip-git --skip-listen --skip-spring --skip-keeps --skip-coffee --skip-test --css bootstrap ${{ matrix.additional_engine_cart_rails_options }}"
    steps:
      - name: Install ImageMagick
        run: sudo apt install imagemagick
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          bundler: "latest"
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
