name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: test (ruby ${{ matrix.ruby }} / rails ${{ matrix.rails_version }} / blacklight ${{ matrix.blacklight_version }} ${{ matrix.additional_name }})
    strategy:
      matrix:
        rails_version: ["~> 7.2"]
        ruby: ["3.2", "3.3"]
        bootstrap_version: ["~> 4.0"]
        blacklight_version: ["~> 7.34"]
        additional_engine_cart_rails_options: [""]
        additional_name: [""]
        include:
          - rails_version: "~> 7.2"
            ruby: "3.3"
            blacklight_version: "~> 7.38"
            bootstrap_version: ~> 5.0
            additional_name: Bootstrap 5
          - rails_version: "7.1.4"
            ruby: "3.2"
            blacklight_version: "~> 7.38"
            bootstrap_version: ~> 4.0
            additional_name: Rails 7.1
          - rails_version: "~> 7.2"
            ruby: "3.3"
            blacklight_version: "~> 8.4.0"
            bootstrap_version: ~> 4.0
            additional_name: Blacklight 8
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      BLACKLIGHT_VERSION: ${{ matrix.blacklight_version }}
      BOOTSTRAP_VERSION: ${{ matrix.bootstrap_version }}
      ENGINE_CART_RAILS_OPTIONS: "--skip-git --skip-listen --skip-spring --skip-keeps --skip-coffee --skip-test -a propshaft ${{ matrix.additional_engine_cart_rails_options }}"
    steps:
      - uses: actions/checkout@v4
      # Remove these Chrome steps after https://issues.chromium.org/issues/351858989 is fixed
      - name: Setup a specific version of Chrome
        uses: browser-actions/setup-chrome@v1
        id: setup-chrome
        with:
          chrome-version: 126
          install-chromedriver: true
          install-dependencies: true
      - name: Set CHROME_BIN environment variable
        run: echo "CHROME_BIN=${{ steps.setup-chrome.outputs.chrome-path }}" >> $GITHUB_ENV
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          bundler: "latest"
          ruby-version: ${{ matrix.ruby }}
      - name: Change permissions
        run: chmod -R o-w /opt/hostedtoolcache/Ruby/3.2.5/x64/lib/ruby/gems/3.2.0/gems
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
